div {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#container {
    width: 640px; /*can be in percentage also.*/
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

#svgMain {margin-left:auto; margin-right:auto; display:block; margin-top: 100px;}