div {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.input-group .form-control{
    width: 100%;
}

.input-group-btn {
    white-space: nowrap !important;
    vertical-align: middle !important;
    width: 0%;
}

.input-group {
    padding-bottom: 5px;
}

#svgMain {margin-left:auto; margin-right:auto; display:block; margin-top: 100px;}
