<!DOCTYPE html>
<html>
<head>
    <title>Join RingCentral Developers &mdash; RingCentral&trade; Platform</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet"  type="text/css" href="/views/common.css">
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<div class="container">
    <br><br><br><br>
    <div class="text-center">
        <!--<img class="logo" src='{{{ RC_Logo }}}' id="RCLogo" width="112px" height="112px">-->
        <!--<img class="logo" src="http://localhost:8080/assets/rsz_botman1.png" id="logo" width="auto" height="auto" >-->
        <!--<img class="logo" src="http://localhost:8080/assets/plus.png" id="plus" width="30px" height="30px" >&nbsp;&nbsp;-->
        <img class="logo" src="/assets/glip.png" id="logo" width="112px" height="112px" >
    </div>
    <br><br>
    <div class="container">

        <div class="col-lg-4 col-lg-offset-4">
            <div class="input-group">
                <p class="text-center">
                    Join <strong>{{{ RC_Community }}}</strong> on Glip.
                </p>
                <p class="text-center">
                    Currently <strong>{{{ RC_Total_members }}}</strong> Users registered.
                </p>
            </div>
        </div><br><br>

        <div class="col-lg-4 col-lg-offset-4">
            <div class="input-group">
                <input type="email" placeholder="Email" id="invite-email" class="form-control" />
                <span class="input-group-btn">
                <button class="btn btn-primary" id="invite-button" type="submit" onclick="demo.sendInvite($('#invite-email').val());">Invite!</button>
            </span>
            </div>
        </div><br><br><br>


        <div class="col-lg-4 col-lg-offset-4">
            <div class="input-group">
                <p class="text-center">
                    or <a href="https://app.glip.com/r/chat/{{{ RC_groupId }}}">Sign In</a>
                </p>
            </div>
            <div class="input-group">
                <p class="text-center">
                    If you do not receive an invite shortly please send an email to <a href="mailto:devsupport@ringcentral.com">devsupport@ringcentral.com</a>
                </p>
            </div>
        </div><br><br><br>


    </div>
</div>

<script>
    var InviteDemo = function() {
        this.sendInvite = function(userInvite='') {
            console.log('The email id padded to post method is ', userInvite);
            $.post( '/inviteUser', {userInvite: userInvite}, function( data ) {
                console.log("Back the funciton ");
                console.log("the response back is :" + data);
                $('#invite-email').remove();
                $("#invite-button").attr("class", "btn btn-success").html('You just got Glipped, Check your inbox !').attr('disabled', 'disabled').css({
                    'position' : 'absolute',
                    'left' : '50%',
                    'top' : '70%',
                    'margin-left' : -$('#invite-button').outerWidth()/2,
                    'margin-top' : -$('#invite-button').outerHeight()/2
                });
            });
        }
    }
    var demo = new InviteDemo();
    $(function() {
        console.log( "ready!" );
    });

</script>
</body>
</html>