<div class="container">
    <br><br><br><br>
    <div class="text-center">
        <!--<img class="logo" src='{{{ RC_Logo }}}' id="RCLogo" width="112px" height="112px">-->
        <!--<img class="logo" src="http://localhost:8080/assets/rsz_botman1.png" id="logo" width="auto" height="auto" >-->
        <!--<img class="logo" src="http://localhost:8080/assets/rsz_botman1.png" id="logo" width="auto" height="auto" >-->
        <!--<img class="logo" src="http://localhost:8080/assets/plus.png" id="plus" width="30px" height="30px" >&nbsp;&nbsp;-->
        <img class="logo" src="/assets/glip.png" id="logo" width="112px" height="112px" >
    </div>
    <br><br>
    <div class="container-fixed">

        <div class="col-lg-4 col-lg-offset-4">
            <div class="input-group">
                <p class="text-center">
                    Join <strong>{{{ RC_Community }}}</strong> on Glip.
                </p>
                <p class="text-center">
                    Currently <strong>{{{ RC_Total_members }}}</strong> Users registered.
                </p>
            </div>
        </div>

        <div class="col-lg-4 col-lg-offset-4">
            <div class="input-group">
                <input type="email" placeholder="Email" id="invite-email" class="form-control" />
                <span class="input-group-btn">
            <button class="btn btn-primary" id="invite-button" type="submit" onclick="demo.sendInvite($('#invite-email').val());">Invite!</button>
        </span>
            </div>
        </div>


        <div class="col-lg-4 col-lg-offset-4">
            <div class="input-group">
                <p class="text-center">
                    or <a href="https://app.glip.com/chat/r?groupid={{{ RC_groupId }}}" target="_top">Sign In</a>
                </p>
            </div>
            <div class="input-group">
                <p class="text-center">
                    If you do not receive an invite shortly please <a href="https://developers.ringcentral.com/support/create-case">submit a help ticket</a>.
                </p>
            </div>
        </div>


    </div>
</div>

<script>
    var InviteDemo = function() {
        this.sendInvite = function(userInvite='') {
            console.log('The email id padded to post method is ', userInvite);
            $.post( '/inviteUser', {userInvite: userInvite}, function( data ) {
                if(typeof data == 'string') {
                    if(Number(data) <= 100) {
                        $("#invite-button").attr("class", "btn btn-success").html('You just got Glipped, Check your inbox !');
                    }
                    else {
                        $("#invite-button").attr("class", "btn btn-success").html('You are currently in waiting list to be added to he ')
                    }
                }

                console.log("the response back is :" + JSON.stringify(data));
                $('#invite-email').remove();
                $("#invite-button").attr('disabled', 'disabled').css({
                    'position' : 'relative',
                });
            });
        }
    }
    var demo = new InviteDemo();
    $(function() {
        console.log( "ready!" );
    });

</script>
